# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xilinx HLS
.ipcache/
.run/
.Xil/
.theia
_x/
main*
*.xclbin
*.xclbin.*
*.xo
*.xo.*
*.log
*.protoinst
*.wcfg
*.wdb
emconfig.json
*.jou
*.ltx
.repo.yaml
device_trace_*.csv
hal_host_trace.csv
native_trace.csv
opencl_trace.csv
summary.csv
*.run_summary


# vitis_hls
Debug/
.apc/
.settings/
# .autopilot/
# build/
# csim/
# impl/
# sim/
# syn/

# **/solution*/*
# !**/solution*/*.tcl

solution/

.cproject
.project
.vitis_hls_log_all.xml
kernel.xml
